
.me{    width: 50%;
    size: 20%;
    background-position: right;
    display: block;     margin-left: -2px;

 
}
.meone{width: 50%;
    display: flex;
    position: relative;
    top: -1165px;
    background-color: white;
    left: 45%;
    padding: 19px;}
.metwo{    width: 50%;
    display: flex;
    position: relative;
    top: -1027px;
    background-color: white;
    left: 45%;
    padding: 19px;}
.methree{width: 50%;
    display: flex;
    position: relative;
    top: -910px;
    background-color: white;
    left: 45%;
    padding: 19px;}