
#content1 {width: 90%;
 
    display: block;
    height: 756px; margin-top: 10px;
   }
#content2 {width: 90%;
 
    display: block;
    height: 756px; margin-top: 10px;
   }
#content3 {width: 90%;
 
    display: block;
    height: 756px; margin-top: -40px;}
#content4 {width: 90%;
 
    display: block;
    height: 756px; margin-top: -40px;}
#content5 {width: 90%;
 
        display: block;
        height: 756px; margin-top: -90px;}
#content6 {width: 90%;
 
            display: block;
            height: 756px; margin-top: -40px;}

#allcontent {    display: block;
    

    margin-left: -550px;
    margin-top: 112px;
    position: relative; }



.twobtn{    position: relative;
    right: -926px;

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    width: 50%;
    top: -234px;opacity: 0;overflow: hidden; border-radius: 10%;}
    .twobtn .light, .dark {font-size: 40px; }
    .twobtn .dark{background-color: black;}
 .txt { position: relative;
    right: -926px;
    width: 50%;
    /* right: -999px; */
    justify-content: center;
    display: flex;
    top: -360px;
    /* left: -737px; */
    align-content: flex-end;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: white; opacity: 0;overflow: hidden; }
.txt p {font-size: 20px; opacity: 0.5;}
#content1:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content1:hover .twobtn {opacity: 1;  transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}

#content2:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}

#content3:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content2:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content4:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content5:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content6:hover .txt {opacity: 1;transform:scale(1.1);transition: transform 1.5s; overflow: hidden;}
#content2:hover .twobtn {opacity: 1; box-shadow: 0 0 35px white; transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}
#content3:hover .twobtn {opacity: 1; box-shadow: 0 0 35px white; transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}
#content4:hover .twobtn {opacity: 1;box-shadow: 0 0 35px white;  transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}
#content5:hover .twobtn {opacity: 1;box-shadow: 0 0 35px white;  transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}
#content6:hover .twobtn {opacity: 1;box-shadow: 0 0 35px white;  transform:scale(1.1);transition: transform 1.2s; overflow: hidden;}
.post_img2 {padding: 4%;}
.post_img2 {  
    transition: transform 1.5s;
    
}
.post_img2:hover {transform:scale(1.1);transition: transform 1.5s;}
.twobtn a{text-decoration: none; color:black}
@media screen and (max-width:768px) and (min-width:488px) {
  
#content1 {width: 100%;
    display: block;
    height: 756px;
    margin-top: 172px;
    margin-left: -336px;
   }
#content2 {width: 100%;
    display: block;
    height: 756px;
    margin-top: -288px;
    margin-left: -336px;
   }
#content3 {width: 100%;
    display: block;
    height: 756px;
    margin-top: -288px;
    margin-left: -336px;}
#content4 {width: 100%;
    display: block;
    height: 756px;
    margin-top: -288px;
    margin-left: -336px;}
#content5 {width: 100%;
    display: block;
    height: 756px;
    margin-top: -288px;
    margin-left: -336px;}
#content6 {width: 100%;
    display: block;
    height: 756px;
    margin-top: -288px;
    margin-left: -336px;}
    .twobtn .light, .dark {font-size: 20px; }
    .twobtn{    position: relative;
        right: -954px;
    
        width: 45%;
    top: -196px;}
    .txt { 
        top: -272px;
       
        font-size: 15px;}
}
@media screen and (max-width:488px) and (min-width:200px) {
  
    #content1 {
        margin-top: 162px;
        margin-left: -288px;
       }
    #content2 {
        margin-top: -324px;
        margin-left: -288px;
       }
    #content3 {
        margin-top: -324px;
        margin-left: -288px;}
    #content4 {
        margin-top: -324px;
        margin-left: -288px;}
    #content5 {
        margin-top: -324px;
        margin-left: -288px;}
    #content6 {
        margin-top: -324px;
        margin-left: -288px;}
        .twobtn .light, .dark {font-size: 25px; }
    .twobtn{    position: relative;
        right: -954px;
    
        width: 45%;
    top: -196px;}
    .txt { 
        top: -272px;
       
        font-size: 15px;}
    }

        


