body  {min-width:1860px; background-color: #ffffff; position: absolute; height: 100vh;overflow-y: scroll; background: url(dsad.jpg);}
#sucsimg {    position: absolute;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row-reverse;
    left: 92px;
    justify-content: center; top: 93px;}
.sucsess {   position: relative; display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    top: 678px;
    left: 538px;
    align-content: flex-start;
    justify-content: space-evenly;
    height: -10px;
    height: 2px;}
a{    position: relative;
    top: 733px;
    left: 529px;
    /* width: 220px; */
    height: 37px;}
a .btn{font-size: 20px;
    width: 450%;}
