{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="viewport" content='width=1000' />
<meta name="viewport" content="width=device-width,initial-scale=1">

  <meta charset="UTF-8">
  
  <link rel='stylesheet'  media="screen" href="{% static 'app/css/price.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/allposs.css'%}">

  <link rel='stylesheet'  href="{% static 'app/css/additional.css'%}">
  
  <link rel='stylesheet'  media="screen" href="{% static 'app/css/medi.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/sliderr.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/qaa.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/meee.css'%}">

  

  
  <title>Post</title>
  <style>
    
  </style>
</head>
<body>
<header>
    
        <a href={%url "home"%} class='logo'>TimPH</a>
        <a href='' class='inst'><img src='https://cdn-icons-png.flaticon.com/512/1384/1384031.png'></a>
        <a href='' class='tg'><img src='https://cdn-icons-png.flaticon.com/512/739/739260.png'></a>
        <a href='' class='vib'><img src='https://cdn-icons-png.flaticon.com/512/1384/1384023.png'></a>
 
        <nav>
            <ul style=' text-decoration: none;'>
               <li><a href={%url "home"%}  style=' text-decoration: none;'>Главная</a></li>
               <li><a href={%url "me"%} style=' text-decoration: none;'>Обо мне</a></li>
               <li><a href={%url "post"%} style=' text-decoration: none;'>Прайс-лист</a></li>
               <li><a href={%url "slide"%} style=' text-decoration: none;'>Партфолио</a></li>
               <li><a href={%url "add"%}  style=' text-decoration: none;'>Запись</a></li>
               <li><a href={%url "qa"%} style=' text-decoration: none;'>Справка</a></li>

               
            </ul>
        </nav>
</header>

       
            
    {%block content%}
    {%endblock%}
  
  
<script src="{% static 'app/css/javas.js'%}">
    
</script>
</body>
</html>