{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="viewport" content='width=1000' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel='stylesheet'  href="{% static 'app/css/homeeee.css'%}">
  
  
  <title>Welcome to TimPH</title>
  
</head>
<body>
  <h1  id = 'hreff'>TimPH</h1>

  <a href = {%url 'add'%}><span>ЗАПИСАТЬСЯ</span><i></i></a>
  <a href = {%url 'post'%}><span>УСЛУГИ</span><i></i></a>


<script>
  function OCB(element)
  {
element.style.Color ='green';}/d
</script>   
</body>
</html>

