{% extends 'basestyle.html' %}
{%block  content%}
<img class='me' src='../../media/uploads/2.jpg' alt="" />
<div class='meone'><span>КАКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br></span></div>
<div class='metwo'><span>КАКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br></span></div>
<div class='methree'><span>КАКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br>АКОЙ-ТО ТЕВЫМВЫМВЫПМАВКПМКА<br></span></div>
{%endblock%}