{% extends 'basestyle.html' %}
{%block  content%}
<img class='me' src='../../media/uploads/IMG_2932.JPG' alt="" />
<div class='meone'><span><h3>ЗАНИМАЮСЬ ФОТОГРАФИЕЙ С 2019 ГОДА</h3><br><p class='mone'>За это время мною было проведено множество индивидуальных и групповых фотосессий,
подаривших мне богатый опыт общения с различными людьми</p></span></div>
<div class='metwo'><span><h3>РАБОТАЮ С РАЗНЫМИ ТИПАМИ СЪЁМКИ</h3><br><p class='mtwo'>Спустя годы практики стремлюсь дополнять свой опыт и эксперементировать с разными задумками, местами и идеями съёмки,
начиная с портретных снимков и заканчивая групповыми тематическими проектами, требующими слаженной работы с большим колличеством людей</p></span></div>
<div class='methree'><span><h3>ВЛАДЕЮ НАВЫКАМИ ОБРАБОТКИ ФОТО И ВИДЕО НА ПРОФЕССИОНАЛЬНОМ УРОВНЕ</h3><br><p class='mthree'>Это помогает мне быстро и качественно реализовать любую идею,
сделать фото нсыщенным, ярким или фантастическим.<br><b>   Буду рада воплотить ваши мечты о комфортной и качественной съёмке!</b><p></span></div>
<div class='mefour'><a style='text-decoration:none' href={%url "add"%}>Записаться на съёмку</a></div>

{%endblock%}