{% extends 'basestyle.html' %}
{%block  content%}

    <div id='allcontent'>
      <div id='content1'>
        
        <img src="../../media/uploads/IMG_4367 копия.jpg" class='post_img2'/> 
        <div class = 'txt'><span> ОДИНОЧНАЯ СЪЁМКА <br>
          35р/ч <br><p>Более 200 фотографий в хорошем качестве<br>
            10 фотографий в выбранной вами обработке</p>
        </span></div>
        <div class='twobtn'>
          <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
          <button class="btn btn-dark"><a href={%url "slide"%}>Партфолио</a></button>
        </div>
    </div>
        <div id='content2'>
          
          <img src="../../media/uploads/IMG_1672 копия.jpg" class='post_img2'/> 
          <div class = 'txt'><span>ГРУППОВАЯ СЪЁМКА<br>50р/ч <br><p>Более 300 фотографий в хорошем качестве<br>
            20 фотографий в выбранной вами обработке</p></span></div>
          <div class='twobtn'>
            <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
            <button class="btn btn-dark"><a href={%url "slide"%}>Партфолио</a></button>
          </div>
      
        </div>
        
        <div id='content3'>
        
            
          <img src="../../media/uploads/IMG_0923.JPG" class='post_img2'/> 
          <div class = 'txt'><span>ТЕМАТИЧЕСКАЯ СЪЁМКА<br>от 60р/ч <p>Запечатлим ваше торжество на фото и видео<br>
          </p></span></div>
          <div class='twobtn'>
            <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
            <button class="btn btn-dark"><a href={%url "slide"%}>Партфолио</a></button>
          </div>
        </div>
        <div id='content4'>
        
          <img src="../../media/uploads/IMG_3627.JPG" class='post_img2'/> 
          <div class = 'txt'><span>ФОТО БЕЗ ОБРАБОТКИ <br> от 20р <p>Более 300 фотографий в хорошем качестве<br>
          </p></span></div>
          <div class='twobtn'>
            <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
            <button class="btn btn-dark">Партфолио</button>
          </div>
      </div>
      <div id='content5'>
        
            
        <img src="../../media/uploads/IMG_3372 копия.jpg" class='post_img2'/> 
        <div class = 'txt'><span>ОБРАБОТКА ФОТО<br>от 2р/фото<p>Удаление объектов, замена фона и ретушь<br>
        </p></span></div>
        <div class='twobtn'>
          <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
          <button class="btn btn-dark"><a href={%url "slide"%}>Партфолио</a></button>
        </div>
      </div>
      <div id='content6'>
        
            
        <img src="../../media/uploads/maxresdefault.jpg" class='post_img2'/> 
        <div class = 'txt'><span>ВИДЕОСЪЁМКА<br>20р/ч <p>Продумаем и воплотим в жизнь любой сюжет <br> от коротких видео до масштабных видеоклипов<br>
        </p></span></div>
        <div class='twobtn'>
          <button class="btn btn-light"><a href={%url "add"%}>Запись</a></button>
          <button class="btn btn-dark"><a href={%url "slide"%}>Партфолио</a></button>
        </div>
      </div>
    </div>
    {%endblock%}