{% extends 'basestyle.html' %}
{%block  content%}

    <div id='allcontent'>
      <div id='content1'>
        
        <img src="../../media/uploads/IMG_4367 копия.jpg" class='post_img2'/> 
        <div class = 'txt'><span> ОДИНОЧНАЯ СЪЁМКА <br>
          35р/ч <br><p>Более 200 фотографий в хорошем качестве<br>
            10 фотографий в выбранной вами обработке</p>
        </span></div>
        <div class='twobtn'>
          <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
          <button class="dark"><a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</a></button>
        </div>
    </div>
        <div id='content2'>
          
          <img src="https://sun9-37.userapi.com/impg/PIBSycgR6L3E7Z4SvnQBdgWg-aXScxkw_HqTLw/mzUUG4xfq1Q.jpg?size=2560x1707&quality=95&sign=f612b6b2601a08d958db341e45a64675&type=album" class='post_img2'/> 
          <div class = 'txt'><span>ГРУППОВАЯ СЪЁМКА<br>50р/ч <br><p>Более 300 фотографий в хорошем качестве<br>
            20 фотографий в выбранной вами обработке</p></span></div>
          <div class='twobtn'>
            <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
            <button class="dark"><a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</a></button>
          </div>
      
        </div>
        
        <div id='content3'>
        
            
          <img src="https://sun9-63.userapi.com/impg/IeCj1H5VjosUUV8cvPRJ1yBU8bavq0Tahxuv1Q/kR0h5KUBtsQ.jpg?size=2560x1707&quality=95&sign=884c137236c1682036a85d20605bf603&type=album" class='post_img2'/> 
          <div class = 'txt'><span>ТЕМАТИЧЕСКАЯ СЪЁМКА<br>от 60р/ч <p>Запечатлим ваше торжество на фото и видео<br>
          </p></span></div>
          <div class='twobtn'>
            <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
            <button class="dark"><a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</a></button>
          </div>
        </div>
        <div id='content4'>
        
          <img src="https://sun9-13.userapi.com/impg/4PmoHsoWUAu_cALCj4NNcEz5mJhrrZWZopZhWw/-lAXBN2Jd0U.jpg?size=2560x1707&quality=95&sign=d328e07debb0793dc32677c94d2aac53&type=album" class='post_img2'/> 
          <div class = 'txt'><span>ФОТО БЕЗ ОБРАБОТКИ <br> от 20р <p>Более 300 фотографий в хорошем качестве<br>
          </p></span></div>
          <div class='twobtn'>
            <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
            <button class="dark"a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</button>
          </div>
      </div>
      <div id='content5'>
        
            
        <img src="https://sun9-7.userapi.com/impg/KQCIezV_tPipi3HT1K3OuHT8iptiT9msXuFDnQ/EAax90VOMu8.jpg?size=2560x1707&quality=95&sign=30038f58ffa46ccb3d4e4787d0b1e498&type=album" class='post_img2'/> 
        <div class = 'txt'><span>ОБРАБОТКА ФОТО<br>от 2р/фото<p>Удаление объектов, замена фона и ретушь<br>
        </p></span></div>
        <div class='twobtn'>
          <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
          <button class="dark"><a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</a></button>
        </div>
      </div>
      <div id='content6'>
        
            
        <img src="https://sun9-41.userapi.com/impg/GPQZJ83bVNPwZB8bvjFgBQYti0vDO7RYMuxLmA/bJ6kU7EZ04U.jpg?size=1280x720&quality=95&sign=4163d060507f5414e811a9d123bb17e7&type=album" class='post_img2'/> 
        <div class = 'txt'><span>ВИДЕОСЪЁМКА<br>20р/ч <p>Продумаем и воплотим в жизнь любой сюжет <br> от коротких видео до масштабных видеоклипов<br>
        </p></span></div>
        <div class='twobtn'>
          <button class="light"><a style=' font-family: initial;'href={%url "add"%}>Запись</a></button>
          <button class="dark"><a href={%url "slide"%} style='color:white; font-family: initial;'>Партфолио</a></button>
        </div>
      </div>
    </div>
    {%endblock%}