
{% extends 'basestyle.html' %}
{%block  content%}
<div id='q'>
    <ul>
        <li><a href="#one" style='text-decoration:none;'>Как записаться на съёмку?</a></li>
        <li><a href="#two">Как осуществляется оплата?</a></li>
        <li><a href="#three">Сроки отдачи фото</a></li>
        <li><a href="#four">Колличество фото, которые я получу</a></li>
        <li><a href="#five">Что такое исходники?</a></li>
        <li><a href="#six">Как выбрать локацию для фото</a></li>
        <li><a href="#seven">Фотосессия в студиии или на улице</a></li>
        <li><a href="#eight">Как проходит фотосессия</a></li>
        <li><a href="#nine">Могу ли я использовать собственную ретушь</a></li>
        <li><a href="#ten">Задать свой вопрос</a></li>

    </ul>
</div>
<h1 class='tim'>TimPH</h1>
<div id='allqa'>
 

<div class='oneq'>
    <h1 style='margin-left: 724px;'><a class = 'hone'name="one">Как записаться на съёмку?</a></h1>      
    <p>Для вашего комфорта записаться можно прямо на <a href={%url "add"%}>сайте</a>, 
        или написав мне <a href=''>в личные сообщения в социальных сетях</a>. 
        Я быстро отреагирую на ваше сообщение и мы обсудим детали нашей встречи для съёмки!  
</div>
<div class='twoq'>
    <h1 style='margin-left: 724px;'><a  class = 'ht'name="two">Как осуществляется оплата?</a></h1>    
    <p> Оплата осуществляется непосредственно в день съёмки 
        или может быть разделена на два этапа: до фотосессии и после того, как фотографии будут готовы. Обычно оплата делится на два этапа. 
        Способ и форма оплаты устанавливается заказчиком и обговаривается отдельно после записи на съёмку.
        Полный перечень цен и услуг указан на <a href={%url "home"%}>главной странице</a></p></div>
<div class='threeq'>
    <h1 style='margin-left: 724px;'><a  class = 'hth'name="three">Сроки отдачи фото</a></h1> 
    <p>Время готовности фото напрямую зависит от сложности фотосессии. <br>
        Для фотосесии без обработки: в течении 24 часов с момента завершения съёмки<br>
        Для одиночной фотосесии: 3-7 дней<br>
        Для групповой фотосесии: 6-14 дней<br>
        Для тематической фотосесии: 14-25 дней<br>
        Для обработки фото: 1-4 часа/фото<br>
        Для видеосъёмки: от 3 до 20 дней<br>
    <span style='color:black;'>Пожелания в ускоренной обработке материала съёмки обговариваются отдельно</span>
    </P>      
</div>
<div class='foureq'>
    <h1 style='margin-left: 646px;'><a  class = 'hf'name="four">Колличество фото, которые я получу</a></h1>   
    <p>
        В ависимости от вида фотосесии предусмотреноразное колличество 
        обработанного и исходного материала съёмки:<br>
            Для фотосесии без обработки: Более 300 фото в хорошем качестве<br>
            Для одиночной фотосесии: Более 200 фото в хорошем качестве 
            + 10 специально отобранных вами и обработанных фото<br>
            Для групповой фотосесии: Более 300 фото в хорошем качестве 
            + 20 специально отобранных вами и обработанных фото<br>
            Для тематической фотосесии: Более 500 фото в хорошем качестве 
           + 50 специально отобранных вами и обработанных фото<br>
            Для обработки фото: Колличество фото вы определяете сами
 
    </p>    
</div>
<div class='teneq'>
    <h1 style='margin-left: 724px;'><a  class = 'hfi'name="five">Что такое исходники?</a></h1>  
    <p>Исходники - это "сырые" фотографии, полученные во время съёмки,
         не обработанные в специальном редакторе. Если изначальный вид 
         всех фото вас устраивает, и вы не желаете убрать/добавить объекты, 
         ретушь лица или свет, то <a href=''>фото на исходники</a> - идеальный вариант, 
         чтобы получить результат быстрее и дешевле
    </p>     
</div>
<div class='fiveeq'>
    <h1 style='margin-left: 658px;'><a  class = 'hs'name="six">Как выбрать локацию для фото</a></h1>   
    <p>
        Если вы знаете красивые места и локации, на которых хотите запечатлить себя - это чудесно. Как фотограф, 
        я всегда пподдержу выбор модели, но могу предложить и вариант, соответствующий
         вашему стилю, образу и настроению.Однако,  если место, которое вы хотите посетить для съёмки, ограничено для посещения, 
         то ответственность за проход туда фотографа, в том числе покрытие стоимости студии осуществлятся заказчиком</p> </div>
<div class='sixeq'>
    <h1 style='margin-left: 643px;'><a  class = 'hse'name="seven">Фотосессия в студиии или на улице</a></h1>    
    <p>Выбор проводить фотосессию в студии или на улице зависит от выбора модели. 
        Я предоставлю одинаково хорошее качество исходных и обработанных фото 
        вне завивимости от места съёмки. Если вы сомневаетесь в своём выборе, 
         вы можете <a href=''>связаться со мной</a> и посвятить меня в детаи своего образа, 
         чтобы мы вместе смогли выбрать более удобную и подходящую локацию для съёмки. <br>
        <span style='color:black;'>Обратите внимание, что модель смостоятельно оплачивает врмемя съёмки в студии 
        и её стоимость не входит в стоимость фотосесии</span></P>   
</div>
<div class='seveneq'>
    <h1 style='margin-left: 724px;'><a  class = 'he'name="eight">Как  проходит фотосессия</a></h1>    
    <p>После того как мы назначили дату и место съёмки, рекомендуется прийти на встречу заранее. 
        Если это съёмка в студии, лучше выделить минимум пол часа для того, 
        чтобы фотограф настроил свет и оборудование до начала вашей записи.
        В процессе съёмки я стараюсь показывать результат, чтобы вы знали, какие 
        снимки у нас получаются и по желанию могли внести любые корректировки. Если вы хотите привести друзей для помощи 
        или собственного комфорта - отлично - главное, чтоы вы чувствовали себя уютно! 
        После часа съёмки мы будем поддерживать связь в процессе обработки и предоставления фото, чтобы убедиться, 
        что работа вполнена качественно и вы остались довольны результатом. 
      
    </p>   
</div>
<div class='eighteq'>
    <h1 style='margin-left: 603px;'><a  class = 'hn'name="nine">Могу ли я использовать собственную ретушь</a></h1> 
    <p>Если вы фотографируетесь на исходники, то полученные фотографии могут 
        редактироваться вами или другим фотографом в свободном порядке.
         Для остальных случаев предусмотрен специальный тариф с колличеством фото,
          которые я отредактирую специально для вас. <br>
        <span style='color:black;'>Если обработка фото на каком-то из этапов вас не утстраивает - вы можете смело
         обратиться за правками к фотографу в течении месяца после получения готовых фотогафий. </span></p>
    

</div>
<div class='nineeq'>
    <h1 style='margin-left: 776px;'><a class = 'ht'name="ten">Задать свой вопрос</a></h1> 
 
</div>



<form method = 'POST' enctype = "multipart/form-data"id='qu' >
    {%csrf_token%}
    
    <span class='title'>Ваша почта<br>{{forms.titlename}}</span><br><br>
    <span class='cont'> Ваш вопрос<br>{{forms.content}}</span><br>
    <button type='submit' class='submt'  style='--clr: white; '><p>Отправить</p></button>
</form>
</div>

{%endblock%}

