{%load static%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Slider_block</title>
  <link rel='stylesheet'  href="{% static 'app/css/slider.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/allpos.css'%}">
</head>
  
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

      <body style='background-color:white;'>
        <header>
    
            <a href={%url "home"%} class='logo'>TimPH</a>
            <nav>
                <ul style=' text-decoration: none;'>
                  <li><a href={%url "home"%}  style=' text-decoration: none;'>Главная</a></li>
                  <li><a href={%url "me"%} style=' text-decoration: none;'>Обо мне</a></li>
                  <li><a href={%url "post"%} style=' text-decoration: none;'>Прайс-лист</a></li>
                  <li><a href={%url "slide"%} style=' text-decoration: none;'>Партфолио</a></li>
                  <li><a href={%url "add"%}  style=' text-decoration: none;'>Запись</a></li>
                  <li><a href={%url "qa"%} style=' text-decoration: none;'>Справка</a></li>
    
                   
                </ul>
            </nav>
    </header>
        <section class="section-g">
           <div class="content-g">
                <div class="slider middle">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked />
                    <input type="radio" name="r" id="r2" />
                    <input type="radio" name="r" id="r3" />
                    <input type="radio" name="r" id="r4" />
        
                    <div class="slide s1"><img src='../../media/uploads/5.jpg' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                </div>
                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                </div>
            </div>
           <div class="content-g1">
                <div class="slider middle1">
                  <div class="slides">
                    <input type="radio" name="r" id="r5" checked />
                    <input type="radio" name="r" id="r6" />
                    <input type="radio" name="r" id="r7" />
                    <input type="radio" name="r" id="r8" />
        
                    <div class="slide s2"><img src='../../media/uploads/IMG_3861.JPG' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/IMG_1672 копия.jpg' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                    <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                  </div>
                  <div class="navigation">
                    <label for="r5" class="bar"></label>
                    <label for="r6" class="bar"></label>
                    <label for="r7" class="bar"></label>
                    <label for="r8" class="bar"></label>
                  </div>
                </div>
           </div>
           <div class="content-g2">
            <div class="slider middle2">
              <div class="slides">
                <input type="radio" name="r" id="r9" checked />
                <input type="radio" name="r" id="r10" />
                <input type="radio" name="r" id="r11" />
                <input type="radio" name="r" id="r12" />
    
                <div class="slide s3"><img src='../../media/uploads/1.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/3.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/2.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/4.jpg' alt="" /></div>
              </div>
              <div class="navigation">
                <label for="r9" class="bar"></label>
                <label for="r10" class="bar"></label>
                <label for="r11" class="bar"></label>
                <label for="r12" class="bar"></label>
              </div>
            </div>
         </div>
         <div class="content-g3">
        
          <h1>Одиночная съёмка</h1><br>
            <p>Выберем настроение, цвет и свет вашего фото вместе <br></p>
              
         
          </div>
        
         <div class="content-g4">
          <h1>
               Уберём скованность</h1><br>
               <p> Передадим нужную эмоцию</p>
               
          </div>
         <div class="content-g5">
            <h1>
              Без выхода из зоны комфорта</h1><br>
                 <p>Покажу фото в процессе съёмок</p>
                 
            </div>
         <div class="content-g6">
              <div class="slider4 middle4">
              <div class="slides">
                  <input type="radio" name="r" id="r13" checked />
                  <input type="radio" name="r" id="r14" />
                  <input type="radio" name="r" id="r15" />
                  <input type="radio" name="r" id="r16" />
      
                  <div class="slide s4"><img src='../../media/uploads/5.jpg' alt="" /></div>
                  <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                  <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
                  <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
              </div>
              <div class="navigation">
                  <label for="r13" class="bar"></label>
                  <label for="r14" class="bar"></label>
                  <label for="r15" class="bar"></label>
                  <label for="r16" class="bar"></label>
              </div>
          </div>
         <div class="content-g12">
        
            <h1>Групповая съёмка</h1><br>
              <p>Создовайте искуство вместе с друзьями <br></p>
                
           
          </div>
         
         <div class="content-g7">
            <div class="slider middle5">
            <div class="slides">
                <input type="radio" name="r" id="r17" checked />
                <input type="radio" name="r" id="r18" />
                <input type="radio" name="r" id="r19" />
                <input type="radio" name="r" id="r20" />
    
                <div class="slide s5"><img src='../../media/uploads/1.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/3.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/2.jpg' alt="" /></div>
                <div class="slide"><img src='../../media/uploads/4.jpg' alt="" /></div>
            </div>
              <div class="navigation">
                <label for="r17" class="bar"></label>
                <label for="r18" class="bar"></label>
                <label for="r19" class="bar"></label>
                <label for="r20" class="bar"></label>
              </div>
            </div>
          </div>
          
            <div class="content-g13">
              <h1>
                   Поработаем вместе</h1><br>
                   <p> Подберём  позы для создания фотоистории</p>
                   
            </div>
        
         
        
           
         <div class="content-g8">
          <div class="slider middle6">
            <div class="slides">
              <input type="radio" name="r" id="r21" checked />
              <input type="radio" name="r" id="r22" />
              <input type="radio" name="r" id="r23" />
              <input type="radio" name="r" id="r24" />

              <div class="slide s6"> <img src='../../media/uploads/IMG_3861.JPG' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/IMG_1672 копия.jpg' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
            </div>
            <div class="navigation">
              <label for="r21" class="bar"></label>
              <label for="r22" class="bar"></label>
              <label for="r23" class="bar"></label>
              <label for="r24" class="bar"></label>
            </div>
          </div>
        </div>
        <div class="content-g14">
          <h1>
            Сделаем общие фотографии</h1><br>
               <p>Которыепонравятся всем и каждому по отдельности</p>
          </div>
        <div class="content-g9">
          <div class="slider7 middle7">
          <div class="slides">
              <input type="radio" name="r" id="r25" checked />
              <input type="radio" name="r" id="r26" />
              <input type="radio" name="r" id="r27" />
              <input type="radio" name="r" id="r28" />

              <div class="slide s7"><img src='../../media/uploads/5.jpg' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
              <div class="slide"><img src='../../media/uploads/5.jpg' alt="" /></div>
          </div>
          <div class="navigation">
              <label for="r25" class="bar"></label>
              <label for="r26" class="bar"></label>
              <label for="r27" class="bar"></label>
              <label for="r28" class="bar"></label>
          </div>
       </div>
       <div class="content-g15">
        
        <h1>Обработка ваших фото</h1><br>
          <p>От мелочей до замены фона и добавления объектов<br></p>
            
       
      </div>
      <div class="content-g16">
        
        <h1>Съёмка без обработки</h1><br>
          <p>Естественный свет без ретуши и фильтров<br></p>
            
       
      </div>
       <div class="content-g10">
        <div class="slider middle8">
          <div class="slides">
            <input type="radio" name="r" id="r29" checked />
            <input type="radio" name="r" id="r30" />
            <input type="radio" name="r" id="r31" />
            <input type="radio" name="r" id="r32" />

            <div class="slide s8"><img src='../../media/uploads/1.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/3.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/2.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/4.jpg' alt="" /></div>
          </div>
          <div class="navigation">
            <label for="r29" class="bar"></label>
            <label for="r30" class="bar"></label>
            <label for="r31" class="bar"></label>
            <label for="r32" class="bar"></label>
          </div>
        </div>
       </div>
       <div class="content-g11">
        <div class="slider middle8">
          <div class="slides">
            <input type="radio" name="r" id="r33" checked />
            <input type="radio" name="r" id="r34" />
            <input type="radio" name="r" id="r35" />
            <input type="radio" name="r" id="r36" />

            <div class="slide s9"><img src='../../media/uploads/1.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/3.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/2.jpg' alt="" /></div>
            <div class="slide"><img src='../../media/uploads/4.jpg' alt="" /></div>
          </div>
          <div class="navigation">
            <label for="r33" class="bar"></label>
            <label for="r34" class="bar"></label>
            <label for="r35" class="bar"></label>
            <label for="r36" class="bar"></label>
          </div>
        </div>
       </div>
      
          

         
      
    
        </section>
      </body>
    </html>
