{%load static%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Slider_block</title>
  <link rel='stylesheet'  href="{% static 'app/css/sliderr.css'%}">
  <link rel='stylesheet'  href="{% static 'app/css/allpost.css'%}">
</head>
  
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

      <body style='background-color:white;'>
        <header>
    
            <a href={%url "home"%} class='logo'>TimPH</a>
            <div class='conte'><a href='' class='inst'><img src='https://cdn-icons-png.flaticon.com/512/1384/1384031.png'style=' width: 19px;'></a>
              <a href='' class='tg'><img src='https://cdn-icons-png.flaticon.com/512/739/739260.png'style=' width: 19px;'></a>
              <a href='' class='vib'><img src='https://cdn-icons-png.flaticon.com/512/1384/1384023.png'style=' width: 19px;'></a></div>
           
            <nav>
                <ul style=' text-decoration: none;'>
                  <li><a href={%url "home"%}  style=' text-decoration: none;'>Главная</a></li>
                  <li><a href={%url "me"%} style=' text-decoration: none;'>Обо мне</a></li>
                  <li><a href={%url "post"%} style=' text-decoration: none;'>Прайс-лист</a></li>
                  <li><a href={%url "slide"%} style=' text-decoration: none;'>Партфолио</a></li>
                  <li><a href={%url "add"%}  style=' text-decoration: none;'>Запись</a></li>
                  <li><a href={%url "qa"%} style=' text-decoration: none;'>Справка</a></li>
    
                   
                </ul>
            </nav>
          
    </header>
        <section class="section-g">
           <div class="content-g">
                <div class="slider middle">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked />
                    <input type="radio" name="r" id="r2" />
                    <input type="radio" name="r" id="r3" />
                    <input type="radio" name="r" id="r4" />
        
                    <div class="slide s1"><img src='https://sun9-37.userapi.com/impg/3GRUpUNQFtWYBo0YgmFa6yKzbA1NovWIuSj68g/mmTgO-x97U8.jpg?size=2560x1707&quality=95&sign=7c6c5671024d4c4905fa1aeb1161bef7&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-69.userapi.com/impg/v0wi3VL4Gwsq1Pq7LwQbel8fkwaZJA_8_fK1GQ/yklBB6WzO8I.jpg?size=2560x1707&quality=95&sign=5b3df86454bb554bb078eb9f41a8fb0a&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-1.userapi.com/impg/5Dmc7JjKkCtRn_bgexuw-EOEeEP4xxFdOARiAg/hi2MgCeCStk.jpg?size=2560x1707&quality=95&sign=7c487ec33e65a6122cf35a8748b8230a&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-63.userapi.com/impg/R8N7efPZ3eRnfSjzpzF2zRISYWKzH1w5rF29HA/V5Yul8GbSvI.jpg?size=1080x720&quality=95&sign=b986f86a5358bcc5ff329893395f308e&type=album' alt="" /></div>
                </div>
                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                </div>
            </div>
           <div class="content-g1">
                <div class="slider middle1">
                  <div class="slides">
                    <input type="radio" name="r" id="r5" checked />
                    <input type="radio" name="r" id="r6" />
                    <input type="radio" name="r" id="r7" />
                    <input type="radio" name="r" id="r8" />
        
                    <div class="slide s2"><img src='https://sun9-71.userapi.com/impg/2NSaclidYE8gJhkPX6g8VjLTTIfJFMFY6pSbvA/a450VBDtMS4.jpg?size=2560x1707&quality=95&sign=db17fc3559dc6409d91bc41fc6fa63cb&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-60.userapi.com/impg/tVfmZivYpWZYCYPHOSdPsHX07qOtbYUS18_2Bw/J4VS8OYO6Go.jpg?size=2560x1707&quality=95&sign=a969f55d90b7efc2285aee34411ed971&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-67.userapi.com/impg/lYBaJO-8cyZ2NpiFNW6oNJ8qq3LOo51QY1QKGA/kAumzckcVdI.jpg?size=2560x1707&quality=95&sign=2a0c819705463d1f516a322656b9875a&type=album' alt="" /></div>
                    <div class="slide"><img src='https://sun9-43.userapi.com/impg/Yk9OyPVUhvX28b5I-1Tf7wNMfa9y5auibC0m7w/RwBoEg1z-WY.jpg?size=2560x1707&quality=95&sign=6b8dabb3e71f3bf07c46db8f5d6f0dfe&type=album' alt="" /></div>
                  </div>
                  <div class="navigation">
                    <label for="r5" class="bar"></label>
                    <label for="r6" class="bar"></label>
                    <label for="r7" class="bar"></label>
                    <label for="r8" class="bar"></label>
                  </div>
                </div>
           </div>
           <div class="content-g2">
            <div class="slider middle2">
              <div class="slides">
                <input type="radio" name="r" id="r9" checked />
                <input type="radio" name="r" id="r10" />
                <input type="radio" name="r" id="r11" />
                <input type="radio" name="r" id="r12" />
    
                <div class="slide s3"><img src='https://sun9-74.userapi.com/impg/Ps2PMLA_yxGX3EhAkcX-5U6iBpmWnenrMLXx5g/_4G9FEaW2OM.jpg?size=902x1280&quality=95&sign=d0376805a9317ba92285093c17f2432a&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-64.userapi.com/impg/PU9JmLCw16gWIsBSB1qOEp_Lp0m_9iQ5r2QfSQ/v3vPCt5NXuE.jpg?size=1440x2160&quality=95&sign=73ccdbaba239b7216f7d9bc950d26349&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-47.userapi.com/impg/R1RG3kKgOAkc5gza_Jh0I66OOltthAoPNYo4OQ/d74ct0ry5M8.jpg?size=1440x2160&quality=95&sign=f479144bb3f209f7c38cc03ec4e337fc&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-12.userapi.com/impg/PCTJyg1WVvyqlPcGnxxtQJNHHC8DIk_KShAAoA/GUx7HS_GBjs.jpg?size=1440x2160&quality=95&sign=cd35d56a45605878fb2759a470d9dcf9&type=album' alt="" /></div>
              </div>
              <div class="navigation">
                <label for="r9" class="bar"></label>
                <label for="r10" class="bar"></label>
                <label for="r11" class="bar"></label>
                <label for="r12" class="bar"></label>
              </div>
            </div>
         </div>
         <div class="content-g3">
        
          <h1>Одиночная съёмка</h1><br>
            <p>Выберем настроение, цвет и свет вашего фото вместе <br></p>
              
         
          </div>
        
         <div class="content-g4">
          <h1>
               Уберём скованность</h1><br>
               <p> Передадим нужную эмоцию</p>
               
          </div>
         <div class="content-g5">
            <h1>
              Без выхода из зоны комфорта</h1><br>
                 <p>Покажу фото в процессе съёмок</p>
                 
            </div>
         <div class="content-g6">
              <div class="slider4 middle4">
              <div class="slides">
                  <input type="radio" name="r" id="r13" checked />
                  <input type="radio" name="r" id="r14" />
                  <input type="radio" name="r" id="r15" />
                  <input type="radio" name="r" id="r16" />
      
                  <div class="slide s4"><img src='https://sun9-66.userapi.com/impg/Dq-pUBNDma4bxCUfjcCyySzE28Trhv3KXMudlA/noX9QeCJtL4.jpg?size=2560x1707&quality=96&sign=90f2b3d74f302a85e633e5fcc421bf33&type=album' alt="" /></div>
                  <div class="slide"><img src='https://sun9-4.userapi.com/impg/xDSwxUUGjU5LbjWALzqq1dZ8Y8R1ivQcJsT2uA/2gIJno82-KU.jpg?size=2560x1707&quality=95&sign=a7c15100de4c70c233c7a0d56a2dba7c&type=album' alt="" /></div>
                  <div class="slide"><img src='https://sun9-12.userapi.com/impg/4BVuz4Nfrxea4IuMDMaq1C53flJr-VuhtBw7Sw/RpRwmPL_03M.jpg?size=2560x1707&quality=96&sign=3af84e67d4c9d482d1478b59e2cb8dc7&type=album' alt="" /></div>
                  <div class="slide"><img src='https://sun9-37.userapi.com/impg/PIBSycgR6L3E7Z4SvnQBdgWg-aXScxkw_HqTLw/FYLetQZMVns.jpg?size=2560x1707&quality=95&sign=81f7a4df2d5efa6da26657eb7c348520&type=album' alt="" /></div>
              </div>
              <div class="navigation">
                  <label for="r13" class="bar"></label>
                  <label for="r14" class="bar"></label>
                  <label for="r15" class="bar"></label>
                  <label for="r16" class="bar"></label>
              </div>
          </div>
         <div class="content-g12">
        
            <h1>Групповая съёмка</h1><br>
              <p>Создовайте искуство вместе с друзьями <br></p>
                
           
          </div>
         
         <div class="content-g7">
            <div class="slider middle5">
            <div class="slides">
                <input type="radio" name="r" id="r17" checked />
                <input type="radio" name="r" id="r18" />
                <input type="radio" name="r" id="r19" />
                <input type="radio" name="r" id="r20" />
    
                <div class="slide s5"><img src='https://sun9-71.userapi.com/impg/zFlc1uaJIrzlpkoOT4sfdE1iZeCNOQkaRsD0Gg/8amPRDvD6_A.jpg?size=1080x1350&quality=95&sign=b4d93ae1acce4067baa7009dea9b04e2&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-69.userapi.com/impg/2UsnHBbt2jEkYDAm3Z-T6TJuBfE9Gor_kkM-0A/wca9Mzpz4Pc.jpg?size=1440x2160&quality=95&sign=e57c898adc63d7cdeb4eecf16dcc526d&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-24.userapi.com/impg/nzdg9GM5HkrgeI4OxL3b8j91Xk-XHvm3oDRf0w/f409uxdpEIo.jpg?size=1440x2160&quality=95&sign=3c2eb371ecfb9c0d8cb285163a1d035a&type=album' alt="" /></div>
                <div class="slide"><img src='https://sun9-36.userapi.com/impg/cg7wc-vOOothxxCHclQciSWYX1M3yxjsMZSm8w/aXVQPF9E1Ps.jpg?size=1440x2160&quality=95&sign=f29090bea9932f51e34ce43db4f04352&type=album' alt="" /></div>
            </div>
              <div class="navigation">
                <label for="r17" class="bar"></label>
                <label for="r18" class="bar"></label>
                <label for="r19" class="bar"></label>
                <label for="r20" class="bar"></label>
              </div>
            </div>
          </div>
          
            <div class="content-g13">
              <h1>
                   Поработаем вместе</h1><br>
                   <p> Подберём  позы для создания фотоистории</p>
                   
            </div>
        
         
        
           
         <div class="content-g8">
          <div class="slider middle6">
            <div class="slides">
              <input type="radio" name="r" id="r21" checked />
              <input type="radio" name="r" id="r22" />
              <input type="radio" name="r" id="r23" />
              <input type="radio" name="r" id="r24" />

              <div class="slide s6"> <img src='https://sun9-79.userapi.com/impg/77m_Q3LsKcEG3FqEi_gqTnh-S01XTad1U762Og/AnSa9M7_qZk.jpg?size=2560x1707&quality=95&sign=c66b1d2b3c30ada67eab15517e1b2b19&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-42.userapi.com/impg/MR_s4irJ_UZ1_9rtfyprgbZXdnWx2RG7noQjZw/y7ShpsTGhcA.jpg?size=2560x1707&quality=95&sign=4e3c5fedf69ad03d7a32447203c08572&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-17.userapi.com/impg/nqL_KEw2Q23_MyjMCE6chC7QKbiLX4YAZf7Zzg/YWW9Tw5WUPA.jpg?size=2560x1707&quality=96&sign=5acf9b7904b6ac7fcd10eca10da67835&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-8.userapi.com/impg/1Ny04GzyGami2VDlq1gfaKTgQVvmmxGz8cqs4g/CGsh1Gm3HxE.jpg?size=2560x1707&quality=95&sign=5879fae93990a839be72088463aa33a7&type=album' alt="" /></div>
            </div>
            <div class="navigation">
              <label for="r21" class="bar"></label>
              <label for="r22" class="bar"></label>
              <label for="r23" class="bar"></label>
              <label for="r24" class="bar"></label>
            </div>
          </div>
        </div>
        <div class="content-g14">
          <h1>
            Сделаем общие фотографии</h1><br>
               <p>Которые понравятся всем и каждому по отдельности</p>
          </div>
        <div class="content-g9">
          <div class="slider7 middle7">
          <div class="slides">
              <input type="radio" name="r" id="r25" checked />
              <input type="radio" name="r" id="r26" />
              <input type="radio" name="r" id="r27" />
              <input type="radio" name="r" id="r28" />

              <div class="slide s7"><img src='https://sun9-19.userapi.com/impg/85iqCkCcoiWqACeQGhJCb9x6uI80MtFL7kB6wA/AFr8lrJVpPU.jpg?size=2560x1707&quality=95&sign=f111daa21d48710e11e5486046360026&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-62.userapi.com/impg/xlWpAFCRoghNxUKkuvBaSWnS4UxSbeuZLXzxYA/yeuhAAKGM_c.jpg?size=2560x1707&quality=95&sign=139774ff8f43c2870c18957b6f4f49aa&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-77.userapi.com/impg/GCBLMK5V95MjzNEzskpgU9rN0xbdkje9UKjaLw/txYOvVLtRNY.jpg?size=2560x1920&quality=95&sign=ac4b67d85dc1f534fdc8380d73044b5e&type=album' alt="" /></div>
              <div class="slide"><img src='https://sun9-7.userapi.com/impg/KQCIezV_tPipi3HT1K3OuHT8iptiT9msXuFDnQ/EAax90VOMu8.jpg?size=2560x1707&quality=95&sign=30038f58ffa46ccb3d4e4787d0b1e498&type=album' alt="" /></div>
          </div>
          <div class="navigation">
              <label for="r25" class="bar"></label>
              <label for="r26" class="bar"></label>
              <label for="r27" class="bar"></label>
              <label for="r28" class="bar"></label>
          </div>
       </div>
       <div class="content-g15">
        
        <h1>Обработка ваших фото</h1><br>
          <p>От мелочей до замены фона и добавления объектов<br></p>
            
       
      </div>
      <div class="content-g16">
        
        <h1>Съёмка без обработки</h1><br>
          <p>Естественный свет без ретуши и фильтров<br></p>
            
       
      </div>
       <div class="content-g10">
        <div class="slider middle8">
          <div class="slides">
            <input type="radio" name="r" id="r29" checked />
            <input type="radio" name="r" id="r30" />
            <input type="radio" name="r" id="r31" />
            <input type="radio" name="r" id="r32" />

            <div class="slide s8"><img src='../../media/uploads/1.jpg' alt="" /></div>
            
          </div>
          
        </div>
       </div>
       <div class="content-g11">
        <div class="slider middle8">
          <div class="slides">
            <input type="radio" name="r" id="r33" checked />
            <input type="radio" name="r" id="r34" />
            <input type="radio" name="r" id="r35" />
            <input type="radio" name="r" id="r36" />

            <div class="slide s9"><img src='https://sun9-33.userapi.com/impg/T0kp3a4XlP3_nZ8qd2d_-fnFl4_WkUZbf3jm8g/sY0yWPaEcrM.jpg?size=894x1280&quality=96&sign=7627763855dd5df925af7f10c7751143&type=album' alt="" /></div>
            
          </div>
          
        </div>
       </div>
      
      
         

         
      
    
        </section>
        <div id='contact'>
          <p> &#9742; +375293748095 life</p>
          <p>&#128386;olga.sivakova.99@mail.ru</p>
        </div>
        
      </body>
    </html>
