{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="viewport" content='width=1000' />
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet'  href="{% static 'app/css/homerun.css'%}">
  
  <title>Sucsess!</title>

  
</head>
<body>
<div id='sucsimg'>  
    <img src='../../media/uploads/happy-memes-winkgo-oh-my-god.jpg' alt=""  class='imgsucs'/>
    <h2 class='Sucsess'>Спасибо за запись!</h2>
    <a href="{%url 'home'%}">
        <button class='btn'>На главную</button> 
      </a>
</div>

<script>
 
</script>   
</body>
</html>